* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.container {
    background-color: black;
    width:80%;
    max-width: 1152px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-7 {
    display: flex;
    width: calc (100% / 12 * 7) ;
    padding: 1rem;
    border: dashed;
    padding: 1rem;
    height: 100px;
    background-color: aquamarine;
justify-content: center;
}*/
body {
    background-color: black;
}

#app-main {
    margin-top: 100px;
}

.container {

    display: flex;
    align-items: center;
    width: 100%;

    margin: auto;
    z-index: 1;
}

#ico {
    margin: 4px;
}

body {}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.webcam {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
}

img {
    width: 100%;
    padding: 0.1rem;

}

.microfono {
    background-color: rgba(75, 75, 75, 0.734);
    position: absolute;
    bottom: 2px;
    left: 1px;
}

span {
    color: white;
}

.col-7 {
    display: flex;
    justify-content: center;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(66, 66, 66);
    height: 80px;
    width: 100%;
}

.nav-footer {
    height: 100%;
    border: dashed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-menu{
display: flex;
flex-direction: column;
justify-content: flex-start;
flex-grow: 1;
margin-left: 5px;
}
.main-menu{
    flex-grow: 4;
}
.exit{
    flex-grow: 1;
}
.arrow-up{
    color: white;
    display: flex;
    left: 50px;
    align-items: center;
}